body {
  background-color: #F2B441 !important;
  color: white;
  backdrop-filter: brightness(15%);

}


.wrapper{
  height: 100vh;
}

.carousel-container {
  max-width: 750px;

}

img{
  width: 200px;
  height: 500px;
}